html {
    height: 100%;
    width: 97%; /* TODO: find out why the html is wider than the page */
}

a {
    color: #4676a9;
}

#setOrUpdateHyperlink {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contentContainer {
        font-family: 'Nunito', sans-serif;
        height: 100%;
}

#generateContextContainer {
    margin-top: 50px;
    margin-bottom: 20px;
}

#pluginFooterDiv {
    background-color: #f2f2f2;
    font-family: sans-serif;        
    flex-shrink: 0;
    width: 100%;
    font-size: 16px;
}

.contentContainer + #pluginFooterContainer {
    margin-top: 0;
}

.locationStatusIcon {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.columns
{ 
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));        
}

.column
{
    display: grid;
    flex-direction:column;
} 

.bubble {
    background: #f3f2f2;
    color:#4675A8;
    padding: 4px 4px;
    position: absolute;
    border-radius: 0px;
    transform: translate(-50%, -220%);
    font-size: 12px;
    }

#CreateButton{        
    border: 3px ;        
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    padding: 6px;
    background-color: #4675A8;
    color: white;    
}

#CreateButton:hover
{
    opacity: 90%;
}

#CreateButton:disabled
{
    background-color: #f3f2f2;
    color: #4675A8;
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pluginIcon
{
    height: 125px;
    width: auto;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 40px;
}

.setLocationIconButton {
    display: block;
    height: 20px;
    width: 20px;
}

.inlineIcon
{
    height: 18px;
    width: auto;
}

h1 {        
    font-size: 25px;
    font-weight: 900;        
    padding-bottom: 8px;
    align-self:center;
    text-align: center;
    font-family: 'Nunito', sans-serif !important;
    color: grey !important;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}

form {
    display: grid;
    column-gap: 10px;
}

label {
    font-weight: 400;
    font-size: 16px;
    align-self: center;
    justify-self: start;
    min-height: 30px;
}